<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>
<body>
    <h1>Feedback Form</h1>
    <form id="feedbackForm" action="https://m9dxvl0gxl.execute-api.us-east-1.amazonaws.com/prod/Driver-Feedback-Form-Lambda" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="feedback">Feedback:</label>
        <textarea id="feedback" name="feedback" rows="4" required></textarea><br>
        <input type="submit" value="Submit">
    </form>

    <div id="submittedData"></div>

    <script>
        document.getElementById("feedbackForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
    
            fetch(this.action, {
                method: this.method,
                body: formData
            })
            .then(response => {
                // Check if the response is a redirection
                if (response.redirected) {
                    window.location.href = response.url; // Redirect to the specified URL
                } else {
                    return response.json(); // Proceed with parsing JSON response if not a redirection
                }
            })
            .then(data => {
                // Clear form fields
                document.getElementById("feedbackForm").reset();
    
                // Display success message
                document.getElementById("submittedData").innerHTML = `
                    <p>Feedback submitted successfully!</p>
                `;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    
    
</body>
</html>
